<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>회원조회</h1>
	<form action="/find.do">
		<!-- 아이디 : <input type="text" name="id"><br>
		주소 : <input type="text" name="addr"><br>  -->
		
		<label>
			<input type="checkbox" name="checkId" value="user1"> user1
		</label>
		<label>
			<input type="checkbox" name="checkId" value="user22"> user22
		</label>
		<label>
			<input type="checkbox" name="checkId" value="user333"> user333
		</label>
		
		<input type="submit" value="조회">
	</form>
</body>
</html>




